<div style="padding: 10px; border-bottom: solid 1px #ccc;">
  <div class="text-center">
   <div class="container mt-5">
   <h5><%= @customer.full_name %>さんの登録情報</h5>
   </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row border border-dark">
   <div class="col-4" style="background-color:#faf0e6">
    <p class="text-right">氏名</p>
   </div>
   <div class="col-6">
     <%= @customer.full_name %>
   </div>
  </div>
  <div class="row border border-dark border-top-0">
   <div class="col-4" style="background-color:#faf0e6">
    <p class="text-right">Eメールアドレス</p>
   </div>
   <div class="col-6">
     <%= @customer.email %>
   </div>
  </div>
  <div class="row border border-dark border-top-0">
   <div class="col-4" style="background-color:#faf0e6">
    <p class="text-right">郵便番号</p>
   </div>
   <div class="col-6">
     <%= @customer.post_code %>
   </div>
  </div>
  <div class="row border border-dark border-top-0">
   <div class="col-4" style="background-color:#faf0e6">
    <p class="text-right">住所</p>
   </div>
   <div class="col-6">
     <%= @customer.address %>
   </div>
  </div>
  <div class="row border border-dark border-top-0">
   <div class="col-4" style="background-color:#faf0e6">
    <p class="text-right">電話番号</p>
   </div>
   <div class="col-6">
     <%= @customer.telephone_number %>
   </div>
  </div>

  <div class="text-right">
     <%= link_to "編集する", customers_my_page_edit_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
     <%= link_to "配送先", addresses_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
  </div>

 </div>


  <%= render "public/favorites/favorite_index", item: @item %>
