<div style="padding: 10px; border-bottom: solid 1px #ccc;">
  <div class="text-center">
   <div class="container mt-5">
   <h5><%= @customer.full_name %>さんの登録情報</h5>
   </div>
  </div>
</div>

 <div class="container mt-5">
  <div class="row">

     <table class="table table-bordered">
       <thead>
         <tr>
          <td style="background-color:#faf0e6">氏名</td>
          <td><%= @customer.full_name %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">Eメールアドレス</td>
          <td><%= @customer.email %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">郵便番号</td>
          <td><%= @customer.post_code %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">住所</td>
          <td><%= @customer.address %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">電話番号</td>
          <td><%= @customer.telephone_number %></td>
         </tr>
       </thead>
     </table>
     <h4 class="my-3 ml-3"><%= link_to "編集する", customers_my_page_edit_path, class:"btn btn-outline-danger btn-block" %></h4>
     <h4 class="my-3 ml-3"><%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class:"btn btn-outline-danger" %></h4>

    </div>
  </div>


  <%= render "public/favorites/favorite_index", item: @item %>
