<div style="padding: 10px; border-bottom: solid 1px #ccc;">
 <p><%= link_to "Topページ＞", root_path, class: "text-dark" %>マイページ</p>
  <div class="text-center">
   <div class="container mt-5">
   <h5><%= @customer.full_name %>さんの登録情報</h5>
   </div>
  </div>
</div>

<div class="container mt-5">
 <div class="row justify-content-center">
  <table class="mobile-blocky">
  <tr>
   <td>氏名</td>
   <td><%= @customer.full_name %></td>
  </tr>
  <tr>
   <td>メールアドレス</td>
   <td><%= @customer.email %></td>
  </tr>
  <tr>
   <td>郵便番号</td>
   <td><%= @customer.post_code %></td>
  </tr>
  <tr>
   <td>住所</td>
   <td><%= @customer.address %></td>
  </tr>
  <tr>
   <td>電話番号</td>
   <td ><%= @customer.telephone_number %></td>
  </tr>
 </table>
 </div>


 <div class="text-right">
  <%= link_to "編集する", customers_my_page_edit_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
  <%= link_to "配送先一覧", addresses_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
 </div>

</div>


  <%= render "public/favorites/favorite_index", item: @item %>
