<div style="padding: 10px; border: solid 1px #ccc;">
 <p>
  <%= link_to "Topページ＞", root_path, class: "text-dark" %>
  <%= link_to "マイページ＞", customers_my_page_path, class: "text-dark" %>
  退会確認
 </p>
  <div class="mx-auto col-lg-8">
   <div class="container mt-5">
   <h5><%= @customer.full_name %>さんの登録情報</h5>
   </div>
  </div>
</div>

 <div class="container mt-5">
  <div class="row">

     <table class="table table-bordered">
       <thead>
         <tr>
          <td style="background-color:#faf0e6">氏名</td>
          <td><%= @customer.full_name %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">Eメールアドレス</td>
          <td><%= @customer.email %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">郵便番号</td>
          <td><%= @customer.post_code %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">住所</td>
          <td><%= @customer.address %></td>
         </tr>
         <tr>
          <td style="background-color:#faf0e6">電話番号</td>
          <td><%= @customer.telephone_number %></td>
         </tr>
       </thead>
     </table>

     <div class="container mt-5">
 <div class="row">
     <div class="col-md-12 col-md-offset-1">
      <div class="text-center">
       <strog>本当に退会しますか？</strog>
      </div>
     </div>
 </div>

 <div class="col-md-12 col-md-offset-1">
      <div class="text-center">
       <%= link_to "退会しない", customers_my_page_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
       <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
      </div>
 </div>

</div>
