<%= render "public/homes/navbar" %>
<div class="container">
 <div class="row">
  <div class="mt-5">
   <%= render "public/items/genre", genres: @genres %>
  </div>

  <div class='mx-auto mt-5'>
   <div class="text-center">
    New Items
   </div>
   <div class="mt-5">
    <% @items.first(4).each do |item| %>
      <%= link_to item_path(item.id) do %>
       <%= image_tag item.get_image(200,280) %>
      <% end %>

     <%= item.name %>
     <%= item.tax_include_price.to_s(:delimited) %>円(税込)
    <% end %>
   </div>
  </div>

 </div>
</div>

