<div style="padding: 10px; border-bottom: solid 1px #ccc;">
  <div class="text-center">
   <div class="container mt-5">
   <h5>アドレス一覧</h5>
   </div>
  </div>
</div>

<div class="container mt-5">
    <div class="row">
     <%= link_to "アドレス登録", new_address_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
    </div>
  <div class="row">
   <div class="col-12">
      <!--アドレス一覧-->
　　<% @addresses.each do |address| %>
    <div class="row border border-dark">
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">郵便番号</div>
     <div class="col-4 text-center border-right border-dark" style="background-color:#faf0e6">住所</div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">宛名</div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">電話番号</div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">操作</div>
    </div>
    <div class="row border border-top-0 border-dark">
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
　　　<%= address.post_code %>
     </div>
     <div class="col-4 d-flex align-items-center justify-content-center border-right border-dark">
      <%= address.address %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
      <%= address.name %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
      <%= address.telephone_number %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
        <%= link_to '編集', edit_address_path(address.id), class: "btn text-light", style: "background-color:#d2b48c" %>
        <%= link_to '削除', address_path(address.id), method: :delete, class: "btn text-light ml-2", style: "background-color:#d2b48c" %>
     </div>
    </div>
    <% end %>

    </div>
  </div>
  <div class="row">
  <%= link_to "マイページにもどる", customers_my_page_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
</div>
</div>

