<div class="container mt-5">
 <div class="text-center">
  <h5>お気に入り一覧</h5>



  <div>
    <table class="table table-bordered">
       <thead style="background-color:#faf0e6">
         <tr>
           <th scope="col"></th>
           <th colspan="2">商品名</th>
           <th scope="col">単価</th>
         </tr>
       </thead>
       <tbody>
         <% current_customer.favorite_items.each do |item| %>
         <tr>
           <td>
             <%= link_to item_path(item.id) do %>
             <%= image_tag item.get_image(200,200) %>
             <% end %>
             </td>
           <td><%= item.name %></td>
           <td><%= item.introduction %></td>
           <td><%= item.tax_include_price.to_s(:delimited) %>円(税込)</td>
         </tr>

         <% end %>
       </tbody>
     </table>

  </div>
 </div>
</div>