<p>
 <%= link_to "Topページ＞", root_path, class: "text-dark" %>
 カート内
</p>
<% if current_customer.cart_items.blank? %>
  <div class ="container">
    <div class="row justify-content-center">
      <p class="text-center p-5">カートに商品がありません</p>
      <div class="w-100"></div>
      <%= link_to '買い物を続ける', root_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
    </div>
  </div>
<% else %>
<div class="container mt-5">
 <div class="row">
   <div class='col-12'>

    <!--カート一覧-->
    <div class="row border border-dark">
    <div class="col text-center" style="background-color:#faf0e6">
      カート内
    </div>
    </div>
    <% @cart.each do |item| %>
    <div class="row border border-dark border-top-0">
     <div class="col-3 text-center border-right border-dark" style="background-color:#faf0e6"></div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">商品名</div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">単価(税込)</div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">数量</div>
     <div class="col-2 text-center border-right border-dark" style="background-color:#faf0e6">小計</div>
     <div class="col-1 text-center" style="background-color:#faf0e6"></div>
    </div>
    <div class="row border border-top-0 border-dark">
     <div class="col-3 text-center border-right border-dark">

       <%= image_tag item.item.get_image(80,100) %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
      <%= item.item.name %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
      ￥<%= item.tax_include_price.to_s(:delimited) %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
      <%= form_with model: [:public, item], url: cart_item_path(item.id), method: :patch do |f| %>
        <%= f.hidden_field :item_id, :value => item.id %>
        <%=f.select :amount ,*[1..10] %>
        <%= f.submit "変更", class: "btn text-light", style: "background-color:#d2b48c" %>
       <% end %>
     </div>
     <div class="col-2 d-flex align-items-center justify-content-center border-right border-dark">
        ￥<%= item.subtotal %>
     </div>
     <div class="col-1 d-flex align-items-center justify-content-center border-dark">
          <%= link_to "取消", cart_item_path(item), method: :delete, class: "btn text-light", style: "background-color:#d2b48c" %>
          <% @total += item.subtotal %>
     </div>
    </div>
    <% end %>

    <div class="col mt-5"></div>
     <!--カート外-->
     <div class="col-md-offset-1">
     <div class="row justify-content-end">
       <div class="col-3">
         <div class="row border border-dark">
           <div class="col-md-4" style="background-color:#faf0e6">
              合計金額
            </div>
            <div class="col-md-4 text-right">
            <%= @total.to_s(:delimited) %>円
            </div>
         </div>
       </div>
     </div>
      <div style="padding: 10px; border-bottom: solid 1px #d2b48c;"></div>

      <div class="text-right">
       <%= link_to 'カートを空にする', cart_items_destroy_all_path, method: :delete, class: "btn text-light mt-3", style: "background-color:#d2b48c"%>
      </div>
      <div class="text-right">
       <%= link_to '買い物を続ける', root_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
      </div>

      <div class="text-right mt-5">
       <%= link_to '　　購入する　　', new_order_path, class: "btn text-light mt-3", style: "background-color:#d2b48c" %>
      </div>

     </div>
   </div>
 </div>
</div>
<% end %>
