<div class="container mt-5">
 <div class="row">
   <div class='col-8 col-md-offset-2'>
    <!--カート一覧-->
     <table class="table table-bordered">
       <thead style="background-color:#faf0e6">
         <tr>
           <th scope="col" style="width: 40%"></th>
           <th class="text-center align-middle" style="width: 40%">商品名</th>
           <th class="text-center align-middle" style="width: 40%">単価(税込)</th>
           <th class="text-center align-middle" style="width: 20%">数量</th>
           <th class="text-center align-middle" style="width: 20%">小計</th>
           <th scope="col-6" style="width: 50%">　　　　</th>
         </tr>
       </thead>
       <tbody>
         <% @cart.each do |item| %>
         <tr>
           <td class="text-center"><%= image_tag item.item.get_image(80,100) %></td>
           <td class="text-center align-middle"><%= item.item.name %></td>
           <td class="text-center align-middle">￥<%= item.tax_include_price.to_s(:delimited) %></td>
           <td class="text-center align-middle">
             <%= form_with model: [:public, item], url: cart_item_path(item.id), method: :patch do |f| %>
             <%= f.hidden_field :item_id, :value => item.id %>
             <%=f.select :amount ,*[1..10] %>
             <%= f.submit "変更", class: "btn btn-outline-dark btn-block mt-3" %>
             <% end %>
           </td>
           <td class="text-center align-middle">￥<%= item.subtotal %></td>
           <td class="text-center">
            <%= link_to "取消", cart_item_path(item), method: :delete, class: "btn btn-outline-dark mt-3" %>
            <% @total += item.subtotal %>
           </td>
         </tr>
         <% end %>
       </tbody>
     </table>
     <!--カート外-->
     <div class="col-md-offset-3 text-right">
      <div style="padding: 10px; border-bottom: solid 1px #d2b48c;">
       合計金額<%= @total.to_s(:delimited) %>
      </div>
       <%= link_to 'カートを空にする', cart_items_destroy_all_path, method: :delete, class: "btn btn-block text-light mt-3", style: "background-color:#d2b48c" %>
       <%= link_to '買い物を続ける', root_path, class: "btn btn-block text-light mt-3", style: "background-color:#d2b48c" %>
       <%= link_to '購入する', new_order_path, class: "btn btn-block text-light mt-3", style: "background-color:#d2b48c" %>
     </div>
   </div>
 </div>
</div>

