<div class="container mt-5">
  <div class="row">
   <p><strong>会員登録がお済のお客様</strong></p>
  </div>


  <%= form_with model: @customer, url: customer_session_path do |f| %>
  <table class="table table-borderless" border="1">
    <thead>
      <tr>
        <th style="background-color:#f5deb3">ログイン</th>
        <th style="background-color:#f5deb3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Eメールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th>パスワード</th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
    </tbody>
  </table>
  <div class="d-grid gap-2 col-6 mx-auto">
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :メールアドレスを保存する %>
    <% end %>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto">
    <%= f.submit "Log in", class: "btn btn btn-danger d-grid gap-2 col-6 mx-auto"  %>
  </div>

   <% end %>
   <div>
     <%= render "public/shared/links" %>
   </div>
</div>