<div class="container mt-5" style="background-color:#faf0e6">
  <div class="row">
    <div class="mx-auto col-lg-7">
      <h5 class="mt-4"><strong>ログイン</strong></h5>

      <%= form_with model: @customer, url: customer_session_path do |f| %>
      <div class="mb-3">
        Eメールアドレス
        <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="mb-3">
        パスワード
        <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
      </div>

      <div class="mb-3">
        <%= f.submit "ログイン", class:"btn btn-outline-danger btn-block"  %>
      </div>
      <div>
        <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "パスワードお忘れの方はこちら", new_password_path(resource_name) %><br />
      <% end %>
    </div>
      <% end %>

    </div>
  </div>
</div>
      <div class="container mt-5">
        <div class="mb-3">
          会員登録がお済でない方
          <%= render "public/shared/links" %>
        </div>
      </div>