<% @item_comments.each do |item_comment| %>
~略~
<div class="relative-item_comment-rate">
  <span>評価：</span>
  <span id="star-rate-<%= item_comment.id %>"></span>
  <script>
    $('#star-rate-<%= item_comment.id %>').raty({
      size: 36,
      starOff: "<%= asset_path('star-off.png') %>",
      starOn: "<%= asset_path('star-on.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      half: true,   # 星半分表示
      readOnly: true,   # 読み取り専用
      score: <%= item_comment.rate %>,   # 星評価の表示
    });
  </script>
  <%= item_comment.rate %>
</div>
~略~
<% end %>

 <%= form_with model: @item_comment, local: true do |f| %>
~略~
<div class="field" id="star">
  <%= f.label :rate, "星評価：" %>
  <%= f.hidden_field :rate, id: :review_star %>
  <script>
    $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'item_comment[rate]',   //rateカラムへの保存
      half: true,   //星半分の入力
    });
  </script>
</div>
~略~
<% end %>