<div class="container mt-5">
 <div class="row">
  <!--商品画像-->
  <div class="col-6 d-flex align-items-center justify-content-center">
    <%= image_tag @item.get_image(600,680) %>
  </div>

  <!--商品詳細-->
  <div class="col-4 mt-1 text-center my-auto">
   <div class="text-right">
   <h3 class="mt-1"><%= @item.name %></h3>
   <p><%= @item.introduction %></p>
   <p><%= @item.tax_include_price.to_s(:delimited) %>円(税込)</p>
    <p id="genre-btn"><%= link_to @item.genre.name, item_search_items_path(genre_id: @item.genre.id, model: "genre"),class: "button tag light-shadow py-3",style: "width: 135px" %></p>
    <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
     <%= f.hidden_field :item_id, :value => @item.id %>
     <%= f.select :amount, *[1..10], include_blank: "個数選択" %>
     <%= f.submit "カートに入れる" %>
    <% end %>
     <div class="favorite_btn_<%= @item.id %> favorite-size">
      <%= render "public/favorites/favorite", item: @item %>
     </div>
    </div>
   </div>

 </div>
</div>

