<header class="sticky-top">
    <div class="border-bottom">
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#d2b48c">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>Classic.F.S</span>
          </a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="navbar-collapse collapse" id="navbarNavDropdown" style>
            <ul class="navbar-nav ml-auto">
              <div class="collapse navbar-collapse justify-content-center">
               <% if customer_signed_in? %>
                <div class="navbar-nav text-light font-weight-bold d-inline-block">
                 ようこそ、<%= current_customer.last_name %>さん！
                </div>
               <% end %>
              </div>
              <li>
                <%= render "public/items/search" %>
              </li>
              <% if customer_signed_in? %>
              <li>
                <%= link_to customers_my_page_path, class: "nav-link text-light" do %>
                <i class="fas fa-user-alt"></i>
                マイページ
                <% end %>
              </li>
              <li>
                <%= link_to cart_items_path, class: "nav-link text-light" do %>
                <i class="fas fa-shopping-cart"></i>
                カート
                <% end %>
              </li>
              <li>
                <%= link_to orders_path, class: "nav-link text-light" do %>
                <i class="fas fa-history"></i>
                注文履歴
                <% end %>
              </li>
              <li>
                <%= link_to destroy_customer_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "nav-link text-light" do %>
                <i class="fas fa-sign-out-alt"></i>
                ログアウト
                <% end %>
              </li>

                <% elsif admin_signed_in? %>
                <li>
                  <%= link_to admin_items_path, class: "nav-link text-light" do %>
                  商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path, class: "nav-link text-light" do %>
                   会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_genres_path, class: "nav-link text-light" do %>
                  ジャンル一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_path, class: "nav-link text-light" do %>
                  注文履歴
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, :method => :delete, class: "nav-link text-light" do %>
                  ログアウト
                  <% end %>
                </li>
                <% else %>
                <li>
                  <%= link_to customers_guest_sign_in_path, method: :post, class: "nav-link text-light" do %>
                  <i class="far fa-user"></i>
                  ゲストログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class: "nav-link text-light" do %>
                  <i class="fas fa-user-alt"></i>
                  ログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
        </div>
      </nav>
  </header>